:root {
  --primary-color: #12e292;
  --primary-color-opacity-soft: #12e29217;
  --primary-color-opacity-strong: #12e292ce;
  --border-color: #1c4535;
  --surface-color: #142e24;
  --surface-color-2: #142e24;
  --inactive-color: #1d4636;

  /* gradientes */
  --gradient-color-1: #15201d;
  --gradient-color-2: #0e1815;

  --background-gradient: linear-gradient(
    180deg,
    var(--gradient-color-1) 0%,
    var(--gradient-color-2) 100%
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  shape-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
}

#root {
  height: 100vh;
  background: var(--background-gradient);
  box-shadow: 0px 0px 80px 0px #050807 inset;
  font-family: "VT323", monospace;
  color: var(--primary-color);
  text-shadow: 0px 0px 20px var(--primary-color-opacity-strong);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* este es el css del titulo */

.titleContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 1.5em;
  height: 150px;
}

h1 {
  font-size: 102px;
  font-weight: 500;
  letter-spacing: -1px;
  word-spacing: -0.3em;
}
h3 {
  font-size: 40px;
  font-weight: 500;
}

/* este es el css del main container */

.mainContainer {
  width: 100%;
  height: 100%;
}

.contenido1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}
.contenido2 {
  height: 100%;
  gap: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

h6 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.08em;
  grid-column: 1 / 13;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 1.5em;
}

/* este es el css para los elementos de la card de jugador  */

.jugador1 {
  height: fit-content;
  padding: 2.5em;
  border: 1px solid var(--border-color);
  box-shadow: 0px 0px 10px 0px inset var(--primary-color-opacity-soft),
    0px 0px 10px 0px var(--primary-color-opacity-soft);
}

.jugador2 {
  height: fit-content;
  padding: 2.5em;
  border: 1px solid var(--border-color);
  box-shadow: 0px 0px 10px 0px inset var(--primary-color-opacity-soft),
    0px 0px 10px 0px var(--primary-color-opacity-soft);
}

/* .rowContainer:last-child {
  padding-bottom: 0;
} */

.iconContainer {
  width: 48px;
  height: 48px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  box-shadow: 0px 0px 10px 0px inset var(--primary-color-opacity-soft),
    0px 0px 10px 0px var(--primary-color-opacity-soft);
}

.rowContainer {
  display: flex;
  align-items: center;
  gap: 1em;
  padding-bottom: 2em;

  & .conteoDePartidasGanadas {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

form {
  width: 100%;
}

input {
  height: 48px;
  padding: 0.8em;
  border: 1px solid var(--border-color);
  background-color: var(--surface-color-1);
  font-family: "VT323", monospace;
  font-size: 1.3em;
  width: 100%;
  color: var(--primary-color);
  transition: 0.2s ease-in-out;
  box-shadow: 0px 0px 10px 0px inset var(--primary-color-opacity-soft),
    0px 0px 10px 0px var(--primary-color-opacity-soft);
}

input::placeholder {
  color: var(--inactive-color);
}

input:hover {
  border: 1px solid var(--primary-color-opacity-strong);
}
input:focus {
  outline: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color-opacity-strong);
  box-shadow: 0px 0px 4px 1px var(--primary-color);
}

input:disabled {
  color: var(--inactive-color);
  border: 1px solid var(--inactive-color);
}

/* este codigo css posiciona y le da estilos a los botones */

.actionsContainer {
  grid-column: 1 / 13;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.btn-primary {
  padding: 0em 1em;
  height: 56px;
  border: none;
  background-color: var(--primary-color);
  color: var(--gradient-color-1);
  font-family: "VT323", monospace;
  font-size: 1.5em;
  transition: 0.2s ease-in-out;
  box-shadow: 0px 0px 30px 0px var(--primary-color-opacity-soft);
}

.btn-disabled {
  height: 56px;
  border: none;
  background-color: var(--inactive-color);
  color: var(--gradient-color-2);
  font-family: "VT323", monospace;
  font-size: 1.5em;
  padding: 0em 1em;
}

.btn-disabled:disabled {
  background-color: var(--inactive-color);
}

.btn-primary:hover {
  box-shadow: 0px 0px 20px 0px var(--primary-color-opacity-strong);
}

.btn-secondary {
  padding: 0em 1em;
  height: 56px;
  border: 1px solid var(--primary-color-opacity-soft);
  background-color: transparent;
  color: var(--primary-color);
  font-family: "VT323", monospace;
  font-size: 1.5em;
  transition: 0.2s ease-in-out;
}

.btn-secondary:hover {
  border: 1px solid var(--inactive-color);
}
/* Este es el css del footer */

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  font-weight: 200;
  padding: 2em;
}

.underScore {
  transition: 0.2s ease-in-out;
  animation-name: cambiarOpacidad;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes cambiarOpacidad {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

/* este es el css del Tic Tac Toe */

.gameContainer1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0em 4em;
  gap: 3em;
}
.gameContainer2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 7em;
  padding: 0em 2em;
}

.titactoeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.jugador1 {
  width: 340px;
  height: fit-content;
  padding: 2.5em;
  border: 1px solid var(--border-color);
  box-shadow: 0px 0px 10px 0px inset var(--primary-color-opacity-soft),
    0px 0px 10px 0px var(--primary-color-opacity-soft);
}
.jugador2 {
  width: 340px;
  height: fit-content;
  padding: 2.5em;
  border: 1px solid var(--border-color);
}

.row1,
.row2,
.row3 {
  display: flex;
}

.ticTacToeItem {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  box-sizing: content-box;
}

.gameItem {
  width: 130px;
  height: 130px;
  font-size: 3em;
  font-weight: 700;
  background: transparent;
  color: var(--primary-color);
  box-shadow: 0px 0px 10px 0px inset var(--primary-color-opacity-soft),
    0px 0px 10px 0px var(--primary-color-opacity-soft);
  border: 1px solid var(--inactive-color);
  border-collapse: collapse;
}
